#map_canvas
{
width:400px;
height:220px;
}
#map_canvas_region
{
width:400px;
height:220px;
}

.infowindow_style
{
	width:191px;
	height:105px;
	background-image:url('/assets/black_arrow.png');
	background-position:left;
}
