// Place all the styles related to the komparifymap controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas
{
width:600px;
height:600px;
}
#map_overlay
{
width:600px;
height:50px;
background-color:black;
color:white;
}
#form_id
label {
padding:20px;
}
